# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
out
build
.next

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Misc
coverage
.turbo
*.tsbuildinfo
pnpm-lock.yaml

