# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
out
build
.next

# Cache
.cache
.turbo
*.tsbuildinfo

# Coverage
coverage
.nyc_output

# Test results
playwright-report
test-results
__snapshots__

# Logs
*.log

# MDX files
*.mdx

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Git
.git
.husky/_
